@model UserVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

<h3 style="color:orangered;">Thank you for confirming your email.</h3>