@model UserVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (ViewBag.ErrorTitle != null)
{
	<h1 style="color:orangered;"><i>@ViewBag.ErrorTitle</i></h1>
}
@if (ViewBag.ErrorMessage != null)
{
	<h3 style="color:orangered;"><i>@ViewBag.ErrorMessage</i></h3>
}