@model UserVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (ViewBag.ErrorMessage != null)
{
	<h3 style="color:orangered;"><i>@ViewBag.ErrorMessage</i></h3>
}

<div class="container" id="container" style="height:350px; width:350px; min-height:auto;">
	<div class="form-container" style="height:350px; width:350px;">
		<form asp-controller="Account" asp-action="ForgotPassword" method="post">
			<label asp-for="Email">E-Mail</label>
			<input asp-for="Email" type="text" placeholder="Enter your email adress"/>
			<span asp-validation-for="Email" style="color:red;"></span>
			<br />
			<button type="submit">Send Link</button>
		</form>
	</div>
</div>