@model UserVM
@{
	Layout = null;
}
<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form asp-action="Register" asp-controller="Account" method="post">
			<h3>Create Account</h3>
			@*<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>*@			
			<input type="text" placeholder="First name" asp-for="FirstName"/>
			<input type="text" placeholder="Last name" asp-for="LastName" />
			<input type="text" placeholder="Username" asp-for="UserName" />
			<input type="email" placeholder="Email" asp-for="Email" />
			<input type="password" placeholder="Password" asp-for="Password" />
			<input type="text" placeholder="Address" asp-for="Address" />
			<input type="tel" placeholder="Telephone number" asp-for="PhoneNumber" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form asp-action="Login" asp-controller="Account" method="post">
			<h1>Sign in</h1>
			@*<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>*@
			<input type="email" placeholder="Email" asp-for="Email" />
			<input type="password" placeholder="Password" asp-for="Password"/>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/register.js"></script>