@model UserVM
@{
	Layout =null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (TempData["error"] != null)
{
	<h3 style="color:orangered;"><i>@TempData["error"]</i></h3>
}
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form asp-action="Register" asp-controller="Account" method="post">
			<h3>Create Account</h3>

			<input type="text" placeholder="First name" asp-for="FirstName"/>
			<span asp-validation-for="FirstName" style="color:red;"></span>
			<input type="text" placeholder="Last name" asp-for="LastName" />
			<span asp-validation-for="LastName" style="color:red;"></span>
			<input type="text" placeholder="Username" asp-for="UserName" />
			<input type="email" placeholder="Email" asp-for="Email" />
			<span asp-validation-for="Email" style="color:red;"></span>
			<input type="password" placeholder="Password" asp-for="Password" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<input type="text" placeholder="Address" asp-for="Address" />
			<span asp-validation-for="Address" style="color:red;"></span>
			<input type="tel" placeholder="Telephone number" asp-for="PhoneNumber" />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form asp-action="Login" asp-controller="Account" method="post">
			<h1>Sign in</h1>
	
			<input type="email" placeholder="Email" asp-for="LoginVM.Email" />
			<span asp-validation-for="LoginVM.Email" style="color:red;"></span>
			<input type="password" placeholder="Password" asp-for="LoginVM.Password" />
			<span asp-validation-for="LoginVM.Password" style="color:red;"></span>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/register.js"></script>