@model UserVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (ViewBag.ErrorMessage != null)
{
	<h3 style="color:orangered;"><i>@ViewBag.ErrorMessage</i></h3>
}

<div class="container" id="container" style="height:350px; width:350px; min-height:auto;">
	<div class="form-container" style="height:350px; width:350px;">
		<form asp-controller="Account" asp-action="ResetPassword" method="post">
			<label asp-for="LoginVM.Password">Old Password</label>
			<input asp-for="LoginVM.Password" type="text" placeholder="Enter your old password" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<label asp-for="Password">New Password</label>
			<input asp-for="Password" type="text" placeholder="Enter your new password" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<label asp-for="PasswordAgain">New Password again</label>
			<input asp-for="PasswordAgain" type="text" placeholder="Enter your new password again" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<br />
			<button type="submit">Change Password</button>
		</form>
	</div>
</div>