@model ResetPasswordVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (ViewBag.ErrorMessage != null)
{
	<h3 style="color:orangered;"><i>@ViewBag.ErrorMessage</i></h3>
}

<div class="container" id="container" style="height:400px; width:400px; min-height:auto;">
	<div class="form-container" style="height:400px; width:400px;">
		<form asp-controller="Account" asp-action="ResetPassword" method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Token" type="hidden"/>
			<input asp-for="Email" type="hidden"/>
			<label asp-for="Password">New Password</label>
			<input asp-for="Password" type="password" placeholder="Enter your new password" />
			<span asp-validation-for="Password" style="color:red;"></span>
			<label asp-for="ConfirmPassword">New Password again</label>
			<input asp-for="ConfirmPassword" type="password" placeholder="Confirm your new password" />
			<span asp-validation-for="ConfirmPassword" style="color:red;"></span>
			<br />
			<button type="submit">Change Password</button>
		</form>
	</div>
</div>