<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hamburger</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <partial name="~/Views/Shared/NavBarPartialView.cshtml" />
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Turkiye</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <a style="color:inherit; text-decoration: none;" href="#Home"><p>Home</p></a>
                <a style="color:inherit; text-decoration: none;" href="#About"><p>About</p></a>
                <a style ="color:inherit; text-decoration: none;" href="#Menu"><p>Menu</p></a>
                <a style="color:inherit; text-decoration: none;" href="#Gallary"><p>Commercials</p></a>
                <a style="color:inherit; text-decoration: none;" href="#Order"><p>Order</p></a>
            </div>


            <div class="footer_tag">
                <h2>Contact</h2>
                <p>sabrisen97@gmail.com</p>
                <p>talhaaksoyy@gmail.com</p>
                <p>yolcuuomer@gmail.com</p>
                <p>omerfdev@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i><a style="color:inherit; text-decoration: none;" href="https://www.facebook.com/Burger.King.Turkiye/" target="_blank" class="fa-brands fa-facebook-f"></a></i>
                <i><a style="color:inherit; text-decoration: none;" href="https://twitter.com/BurgerKingTR" target="_blank" class="fa-brands fa-twitter"></a></i>
                <i><a style="color:inherit; text-decoration: none;"  href="https://www.instagram.com/burgerkingtr/" target="_blank" class="fa-brands fa-instagram"></a></i>
                <i><a style="color:inherit; text-decoration: none;" href="https://www.linkedin.com/company/burger-king" target="_blank" class="fa-brands fa-linkedin-in"></a></i>

            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> Team Overthinkers</span></p>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
