<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section id="Home" style="height:10vh;">

    <nav>
        <div class="logo">
            <img src="~/image/logo.png" style="height:60px; width:60px;">
        </div>

        <ul>
            <li><a asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
            <li><a href="http://localhost:5069/#Menu"><i class="fa-solid fa-bell-concierge"></i>Menu</a></li>
            <li><a href="http://localhost:5069/#Gallary"><i class="fa-solid fa-clapperboard"></i>Commercials</a></li>
            <li><a href="http://localhost:5069/#Review"><i class="fa-solid fa-comment"></i>Review</a></li>
            <li><a href="http://localhost:5069/#Order"><i class="fa-solid fa-file-signature"></i>Contact Us</a></li>
            <li><a href="http://localhost:5069/#About"><i class="fa-solid fa-address-card"></i>About</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Admin" asp-action="AdminPanel"><i class="fa-solid fa-gears"></i>Admin Panel</a></li>
            }
        </ul>
     
    
        <div class="icon">
            @if (!User.IsInRole("Admin") && User.Identity.IsAuthenticated)
            {
                <a asp-controller="User" asp-action="ShoppingCart" class="side-panel-toggle"><i class="fa-solid fa-cart-shopping"></i></a>
            }
        
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Register">
                    <i class="fa-solid fa-user">
                    <label>Login/Register</label>
                    </i>
                </a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <i class="fa-solid fa-user">  @User.Identity.Name</i>
                <a asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            }

        </div>
    </nav>
</section>
