<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<section id="Home" style="height:10vh;">

    <nav>
        <div class="logo">
            <img src="https://media.istockphoto.com/id/1356778093/tr/vektör/delicious-burger-flat-logo-icon-sticker-vector.jpg?s=612x612&w=0&k=20&c=W94Yn7N3g0x3bxe3v8Cy0Xuw6dDEqUY_x2nKhkDb8Rk= ">
        </div>

        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Menu">Menu</a></li>
            <li><a href="#Gallary">Commercials</a></li>
            <li><a href="#Review">Review</a></li>
            <li><a href="#Order">Order</a></li>
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Admin" asp-action="AdminPanel">Admin Panel</a></li>
            }
        </ul>

        <div class="icon">
            @if (!User.IsInRole("Admin") && User.Identity.IsAuthenticated)
            {
<<<<<<< HEAD
                <a asp-controller="User" asp-action="ShoppingCart" class="side-panel-toggle"><i class="fa-solid fa-cart-shopping"></i></a>
=======
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <a asp-controller="User" asp-action="ShoppingCart" class="side-panel-toggle"><i class="fa-solid fa-cart-shopping" ></i></a>
>>>>>>> b9957808fed3ce07e39284f92b38ba827a1ff382
            }
        
            @if (!User.Identity.IsAuthenticated)
            {
                <a asp-controller="Account" asp-action="Register">
                    <i class="fa-solid fa-user">
                    <label>Login/Register</label>
                    </i>
                </a>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <i class="fa-solid fa-user">  @User.Identity.Name</i>
                <a asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                </a>
            }

        </div>
    </nav>
</section>
