@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<link rel="stylesheet" href="/css/custom.css">

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center"><strong>ADMIN DASHBOARD</strong></h2>
            </div>
        </div>
        <h1>Categories</h1>
        <hr />
        <!-- /. ROW  -->
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a asp-action="CreateCategory">
                        <i class="fa-solid fa-plus fa-5x"></i>
                        <h4>Add Categories</h4>
                    </a>
                </div>


            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a asp-action="ListCategories">
                        <i class="fa-solid fa-list-ul fa-5x"></i>
                        <h4>List Categories</h4>
                    </a>
                </div>


            </div>

        </div>
        <h1>Products</h1>
        <hr />
        <!-- /. ROW  -->
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a asp-action="CreateProduct">
                        <i class="fa-solid fa-plus fa-5x"></i>
                        <h4>Add Products</h4>
                    </a>
                </div>


            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a asp-action="ListProducts">
                        <i class="fa-solid fa-list-ul fa-5x"></i>
                        <h4>List Products</h4>
                    </a>
                </div>


            </div>

        </div>
        <h1>Meals</h1>
        <hr />
        <!-- /. ROW  -->
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html">
                        <i class="fa-solid fa-plus fa-5x"></i>
                        <h4>Add Meals</h4>
                    </a>
                </div>


            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html">
                        <i class="fa-solid fa-list-ul fa-5x"></i>
                        <h4>List Meals</h4>
                    </a>
                </div>


            </div>

        </div>
    </div>
</div>
