@model MenuProductVM


<div class="col-md-3 align-content-md-center" id="divv">
    <form method="post" asp-action="CreateProduct">
        <label class="control-label" asp-for="Product.ProductName">Product Name:</label>
        <input asp-for="Product.ProductName" type="text" /><br /><br />
        <label class="control-label" asp-for="Product.Price">Price:</label>
        <input asp-for="Product.Price" type="text" /><br /><br />
        <label class="control-label" asp-for="Product.Description">Description:</label>
        <input asp-for="Product.Description" type="text" /><br /><br />
        @*<label>Image:</label>
        <input asp-for="ProductImage" type="file" /><br />*@
        <div class="form-group">
            <label asp-for="Product.CategoryID" class="control-label"></label>
            @Html.DropDownListFor(x=>x.Product.CategoryID,Model.Dropdown,new{@class="form-control text-center"})
            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
        </div>
        <br /><br />
        <input class="btn btn-outline-success" type="submit" value="Add Product" />
    </form>
</div>
